@use '../../scss/vars.scss' as *;

.authBlock {
	background-color: $secondary-color;

	h1 {
		text-align: center;
	}

	.form {
		padding: 30px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		width: 450px;

		input {
			width: 100%;
			padding: 5px;
			color: inherit;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}