.header {
    color: #000;

    // .header__inner
    &__inner {
        display: flex;
        align-items: center;
    }

    // .header__nav
    &__nav {
        background-color: #f0f0f0;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
        }
    }


    // .header__logo
    &__logo {
        font-size: 24px;
    }

    // .header__profile
    &__profile {
        font-size: 12px;

        span {
            margin-left: 5px;
        }
    }

    // .header__bottom-inner 
    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    // .header__search
    &__search {
        flex: 1 1 auto;
        padding: 0 50px 0 20px;

        input {
            width: 80%;
            padding: 8px 10px;
            border: 1px solid #ccc;
            font-size: 14px;
            outline: none;
            font-weight: normal;
            border-radius: 5px;
        }
    }

    // .header__cart
    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        svg {
            margin-right: 5px;
        }
    }

    // .header__icons
    &__icons {
        display: flex;
        align-items: center;
    }

    // .header__icon
    &__icon {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.nav {
    display: flex;
    align-items: center;

    // .nav__link
    &__link {
        margin-right: 20px;
        font-size: 12px;

        &:hover {
            text-decoration: underline;
        }
    }
}