/* variables.scss */

/* Основные цвета */
$primary-color: #4caf50; // Спокойный зелёный для основного оформления (например, кнопки, ссылки)
$secondary-color: #81c784; // Светло-зелёный для дополнительных элементов и фона
$accent-color: #ffb74d; // Мягкий оранжевый для акцентных элементов (кнопки действий, выделение важной информации)

/* Дополнительные цвета */
$background-color: #f4f7f6; // Светлый фон для страниц
$text-color: #2e2e2e; // Тёмный серый для основного текста
$muted-text-color: #757575; // Более светлый серый для второстепенного текста

/* Цвета для состояний */
$success-color: #66bb6a; // Яркий зелёный для успешных действий (например, подтверждение заказа)
$error-color: #e57373; // Спокойный красный для ошибок
$warning-color: #ffeb3b; // Желтый для предупреждений