.sort {

    // .sort__title
    &__title {
        display: flex;
        align-items: center;
        font-size: 18px;


        span {
            margin-left: 5px;
        }
    }

    // .sort__filters
    &__filters {
        padding-top: 20px;
    }

    // .sort__filter
    &__filter {
        margin-bottom: 15px;

        h3 {
            margin-bottom: 5px;
            font-size: 16px;
        }
    }

    // .sort__price
    &__price {}

    // .sort__price-inputs
    &__price-inputs {

        input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px 10px;
            border-radius: 5px;
            margin-bottom: 5px;

            &::placeholder {
                font-size: 14px;
                font-family: inherit;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
        }
    }

    &__order {
        position: relative;
        padding-top: 5px;
        font-size: 14px;
    }

    &__order-selected {
        border: 1px solid #ccc;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 4px;
    }

    &__order-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 10;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    &__order-option {
        padding: 8px 10px;
        cursor: pointer;
        transition: background 0.2s;
        border-bottom: 1px solid #ccc;

        &:hover {
            background: #f0f0f0;
        }
    }

    // .sort__brand
    &__brands {
        padding-top: 5px;
    }

    // .sort__btn
    &__btn {
        padding: 10px 0;
        background-color: #ed7100;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.1s linear;

        &:hover {
            background-color: #703b0a;
        }
    }
}

.brands {

    // .brands__brand
    &__brand {
        margin-bottom: 2px;

        label {
            display: flex;
            align-items: center;
            font-size: 14px;

            span {
                margin-left: 2px;
            }
        }
    }
}